<%= form_with(model: usergroup, local: true) do |form| %>
  <% if usergroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usergroup.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% usergroup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="st_input" border="0">
    <div class="field">
      <tr>
        <td><%= form.label :group_name %></td>
        <td><%= form.text_field :group_name %></td>
      </tr>
    </div>

    <div class="actions">
      <tr>
        <td><%= form.submit "Submit", class: "btn btn-lg btn-primary", data: { disable_with: "Please wait.." } %></td>
        <td><%= link_to 'Back', usergroups_path, class: "btn btn-lg btn-primary" %></td>
      </tr>
    </div>
  </table>
<% end %>
