<p id="notice"><%= notice %></p>

<h1>Currencies</h1>
<body class='currencies_body' id="Currenciesbody" data-controller="<%= controller.controller_name %>">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table id="currencies">
        <thead>
          <tr>
            <th>Currency</th>
            <th>Exchange Symbol</th>
            <th>Exchange Name</th>
            <th>Exchange Rate</th>
            <th style="width:5px;"></th>
            <th style="width:5px;"></th>
            <th style="width:5px;"></th>
          </tr>
        </thead>

        <tbody>
          <% @currencies.each do |currency| %>
            <tr>
              <td><%= currency.currency %></td>
              <td><%= currency.exch_symbol %></td>
              <td><%= currency.exch_name %></td>
              <td><%= currency.exch_rate %></td>
              <td><%= link_to 'Show', currency %></td>
              <td><%= link_to 'Edit', edit_currency_path(currency) %></td>
              <td><%= link_to 'Destroy', currency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Currency', new_currency_path, class: "btn btn-lg btn-primary" %>

    </div>
  </div>
</body>
