<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p id="notice"><%= notice %></p>

    <table>
      <tr>
        <th><strong>Currency:</strong></th>
        <th><%= @currency.currency %></th>
      </tr>
      <tr>
        <th><strong>Exchange Symbol:</strong></th>
        <th><%= @currency.exch_symbol %></th>
      </tr>
      <tr>
        <th><strong>Exchange Name:</strong></th>
        <th><%= @currency.exch_name %></th>
      </tr>
      <tr>
        <th><strong>Exchange Rate:</strong></th>
        <th><%= @currency.exch_rate %></th>
      </tr>
    </table>

    <%= link_to 'Edit', edit_currency_path(@currency), class: "btn btn-lg btn-primary" %>
    <%= link_to 'Back', currencies_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
