<% provide(:title, @user.surname + ', ' + @user.givenname) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%=  @user.surname + ', ' + @user.givenname %>
        </h1>
      </section>
    </aside>
    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>

    <p>
      <strong>Surname:</strong>
      <%= @user.surname %>
    </p>

    <p>
      <strong>Givenname:</strong>
      <%= @user.givenname %>
    </p>

    <p>
      <strong>Nickname:</strong>
      <%= @user.nickname %>
    </p>

<!--
    <p>
      <strong>Birthdate time:</strong>
      <%= @user.birthdate_time %>
    </p>
-->
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @user.status %>
    </p>

    <p>
      <strong>Kind of user:</strong>
      <%= @user.group %>
    </p>

    <% @kind = 'edit' %>
    <td><%= link_to 'Edit', edit_user_path(@user), class: "btn btn-lg btn-primary" %></td>
    <% if session[:admin].to_s == '[true]' %>
      <td><%= link_to 'Back', users_path, class: "btn btn-lg btn-primary" %></td>
    <% end %>
  </div>
</div>
<h2>User google spreadsheet coinlog</h2>

<br>
