<% provide(:title, @user.surname + ', ' + @user.givenname) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%=  @user.surname + ', ' + @user.givenname %>
        </h1>
      </section>
    </aside>
    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>

    <p>
      <strong>Surname:</strong>
      <%= @user.surname %>
    </p>

    <p>
      <strong>Givenname:</strong>
      <%= @user.givenname %>
    </p>

    <p>
      <strong>Nickname:</strong>
      <%= @user.nickname %>
    </p>

    <p>
      <strong>Birthdate time:</strong>
      <%= @user.birthdate_time %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Spreadsheet link:</strong>
      <%= @user.spreadsheet_link %>
    </p>

    <p>
      <strong>Sheet name:</strong>
      <%= @user.sheet_name %>
    </p>

    <%= @kind = 'edit' %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>
<h2>User google spreadsheet coinlog</h2>

<br>

<table border=1>
  <thead>
    <tr>
      <th>Reason</th>
      <th>Coinbag</th>
      <th>From</th>
      <th>To</th>
      <th>Date</th>
      <th>Time</th>
      <th>Currency</th>
      <th>Amount</th>
      <th>To celebrate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% begin %>
      <% @google_synch.ws.rows[1..10000].each do |col| %>
          <tr>
            <td><%= col[1] %></td>
            <td><%= col[2] %></td>
            <td><%= col[3] %></td>
            <td><%= col[4] %></td>
            <td><%= col[5] %></td>
            <td><%= col[6] %></td>
            <td><%= col[7] %></td>
            <td><%= col[8] %></td>
            <td><%= col[9] %></td>
          </tr>
      <% end %>
    <% rescue Exception => e %>
      <h3>No user google API key or wrong key, please verify!</h3>
      <h5><%= e.message %></h5>
      <p><%= e.backtrace.inspect %>
      <br>
      <br>
    <% end %>

  </tbody>
</table>
