<p id="notice"><%= notice %></p>

<h1>Categories</h1>
<body class='classifications_body' id="Classificationsbody" data-controller="<%= controller.controller_name %>">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table id="classifications">
        <thead>
          <tr>
            <th>Categories</th>
            <th style="width:5px;"></th>
            <th style="width:5px;"></th>
            <th style="width:5px;"></th>
          </tr>
        </thead>

        <tbody>
          <% @classifications.each do |classification| %>
            <tr>
              <td><%= classification.classification %></td>
              <td><%= link_to 'Show', classification %></td>
              <td><%= link_to 'Edit', edit_classification_path(classification) %></td>
              <td><%= link_to 'Destroy', classification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Classification', new_classification_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</body>
