<!-- CALL JAVASCRIPT FUNCTION -->
  <%= form_with(model: tr_statement, local: true) do |form| %>
    <% if tr_statement.errors.any? %>
      <div id="error_explanation" xmlns="http://www.w3.org/1999/html">
        <h2><%= pluralize(tr_statement.errors.count, "error") %> prohibited this Statement Movement from being saved:</h2>

        <ul>
        <% tr_statement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Text field to give value to mov_type (MOVMENT TYPE) in database -->
    <%= form.text_field :mov_type, :value => params[:type].to_s, style: 'display:none' %>

    <!-- Catch Ruby variable (read url parameter) and send it to CoffeeScript -->
    <div id="type_parameter" data-parameter="<%= params[:type].to_s %>"></div>

    <table class="st_input" border="0">
    <div class="field_date">
      <tr>
        <td><%= form.label :date_time %></td>
        <td><%= form.datetime_select(:date_time) %></td>
      </tr>
    </div>

    <tr class="field_int">
      <tr>
        <td><%= form.label :'time zone' %></td>
        <td><%= form.text_field :timezone, :maxlength => "2", :size => "2" %></td>
      </tr>
    </div>

    <div class="field">
      <tr>
        <td><%= form.label :reason %></td>
        <td><%= form.text_field :reason %><div id="description_error"></div></td>
        <td></td>
      </tr>
    </div>

    <div class="field">
      <tr>
        <td><%= form.label :classification %></td>
        <% begin %>
          <td><%= form.collection_select :classification, @classification, :id, :classification, include_blank: true %></td>
        <% rescue %>
        <% end %>
        </tr>
    </div>

    <div class="field">
      <tr>
        <% if params[:type].to_s == 'exch' %>
          <td>Source <%= form.label :coinbag %></td>
          <td><%= form.collection_select :coinbag, @coinbag, :id, :coinbag, include_blank: true %></td>
        <% else %>
          <td><%= form.label :coinbag %></td>
          <% begin %>
            <td><%= form.collection_select :coinbag, @coinbag, :id, :coinbag, include_blank: true %></td>
          <% rescue %>
          <% end %>
        <% end %>
      </tr>
    </div>

    <!-- Used only to exchange process -->
    <div class="field">
      <tr>
        <% if params[:type].to_s == 'exch' %>
          <td>Destination <%= form.label :coinbag %></td>
          <td><%= form.collection_select :coinbag_dest, @coinbag, :id, :coinbag, include_blank: true %></td>
        <% end %>
      </tr>
    </div>

    <div class="field">
      <tr>
        <td><%= form.label :from %></td>
        <% if params[:type].to_s == 'rec' %>
          <td><%= form.collection_select :from, @users, :id, :nickname, :selected => User.where(id: '66vVRjoK9ZA8qy').map(&:id)*",".to_s, :value => User.where(id: '66vVRjoK9ZA8qy').map(&:id)*",".to_s %></td>
        <% elsif params[:type].to_s == 'pay' %>
          <td><%= form.collection_select :from, @users, :id, :nickname, :selected => User.where(id: params[:usr].to_s).map(&:id)*",".to_s, :value => User.where(id: params[:usr].to_s).map(&:id)*",".to_s %></td>
        <% elsif params[:type].to_s == 'exch' %>
          <td><%= form.collection_select :from, @users, :id, :nickname, :selected => User.where(id: params[:usr].to_s).map(&:id)*",".to_s, :value => User.where(id: params[:usr].to_s).map(&:id)*",".to_s %></td>
        <% else %>
          <% begin %>
            <td><%= form.collection_select :from, @users, :id, :nickname %></td>
          <% rescue %>
          <% end %>
        <% end %>
      </tr>
    </div>

    <div class="field">
      <tr>
        <td><%= form.label :to %></td>
        <% if params[:type].to_s == 'rec' %>
          <td><%= form.collection_select :to, @users, :id, :nickname, :selected => User.where(id: params[:usr].to_s).map(&:id)*",".to_s, :value => User.where(id: params[:usr].to_s).map(&:id)*",".to_s %></td>
        <% elsif params[:type].to_s == 'pay' %>
          <td><%= form.collection_select :to, @users, :id, :nickname, :selected => User.where(id: '66vVRjoK9ZA8qy').map(&:id)*",".to_s, :value => User.where(id: '66vVRjoK9ZA8qy').map(&:id)*",".to_s %></td>
        <% elsif params[:type].to_s == 'exch' %>
          <td><%= form.collection_select :to, @users, :id, :nickname, :selected => User.where(id: params[:usr].to_s).map(&:id)*",".to_s, :value => User.where(id: params[:usr].to_s).map(&:id)*",".to_s %></td>
        <% else %>
          <% begin %>
            <td><%= form.collection_select :to, @users, :id, :nickname %></td>
          <% rescue %>
          <% end %>
        <% end %>
      </tr>
    </div>

    <div class="field_currency">
      <tr>
        <% if params[:type].to_s == 'exch' %>
          <td>Source <%= form.label :currency %></td>
        <% else %>
          <td><%= form.label :currency %></td>
        <% end %>
        <td>
          <table>
            <tr>
              <% begin %>
                <td><%= form.collection_select :currency, @currency, :id, :currency, include_blank: true %></td>
              <% rescue %>
              <% end %>
              <% if params[:type].to_s == 'exch' %>
                <td><%= form.label :amount %></td>
                <td><%= form.text_field :amount %></td>
              <% end %>
            </tr>
          </table>
        </td>
      </tr>
    </div>

    <% if params[:type].to_s == 'exch' %>
      <div class="field_currency">
        <tr>
          <td>Destination <%= form.label :currency %></td>
          <td>
            <table>
              <tr>
                <td><%= form.collection_select :currency_dest, @currency, :id, :currency, include_blank: true %></td>
                <td><%= form.label :amount %></td>
                <td><%= form.text_field :amount_dest %></td>
              </tr>
            </table>
          </td>
        </tr>
      </div>
    <% end %>

    <% if params[:type].to_s == 'exch' %>
      <div class="field">
        <tr>
          <td><%= form.label :transaction_link %></td>
          <td><%= form.text_field :transaction_link, :value => User.where(id: params[:usr].to_s).map(&:id)*",".to_s + Time.new.to_s.gsub!(/\s/,'') %></td>
        </tr>
      </div>
    <% end %>

    <% if params[:type].to_s != 'exch' %>
      <div class="field_float">
        <tr>
          <td><%= form.label :amount %></td>
          <td><%= form.text_field :amount %></td>
        </tr>
      </div>
    <% end %>

    <% if params[:type].to_s == 'exch' %>
      <div class="field">
        <tr>
          <td><%= form.label :exch_destin %></td>
          <td><%= form.text_field :exch_destin, :value => "Sent" %></td>
        </tr>
      </div>
    <% end %>

    <div class="field">
      <tr>
        <td>To <%= form.label :celebrate %></td>
        <td><%= form.text_field :celebrate %></td>
      </tr>
    </div>
    <div class="actions">
      <tr>
        <td><%= form.submit 'submit transaction', name: 'send', id: 'send', calss:'send', data: { disable_with: "Please wait.." } %></td>
      </tr>
    </div>
    </table>
  <% end %>
