<!-- CALL JAVASCRIPT FUNCTION -->
  <%= form_with(model: tr_statement, local: true) do |form| %>
    <% if tr_statement.errors.any? %>
      <div id="error_explanation" xmlns="http://www.w3.org/1999/html">
        <h2><%= pluralize(tr_statement.errors.count, "error") %> prohibited this Statement Movement from being saved:</h2>

        <ul>
        <% tr_statement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Text field to give value to mov_type (MOVMENT TYPE) in database -->
    <%= form.text_field :mov_type, :value => @mov_type.to_s, style: 'display:none' %>

    <!-- Catch Ruby variable (read url parameter) and send it to CoffeeScript and Javascript-->
    <div id="type_new" data-parameter="<%= @action %>"></div>

    <table class="st_input" border="0">
    <div class="field_date">
      <tr>
        <td><%= form.label :date_time %></td>
        <td><%= form.datetime_select(:date_time) %></td>
      </tr>
    </div>

    <tr class="field_int">
      <tr>
        <td><%= form.label :'time zone' %></td>
        <td><%= form.text_field :timezone, :maxlength => "2", :size => "2" %><div id="CTR_TZ" class="CTR_form"><%= @action == 'NEW' && '*' || '' %> </div></td>
      </tr>
    </div>

    <div class="field">
      <tr>
        <td><%= form.label :reason %></td>
        <td><%= form.text_field :reason %><div id="CTR_reason" class="CTR_form"><%= @action == 'NEW' && '*' || '' %></div></td>
      </tr>
    </div>

    <div class="field">
      <tr>
        <td><%= form.label :classification %></td>
        <% begin %>
          <td><%= form.collection_select :classification, @classification, :id, :classification, include_blank: true %></td>
        <% rescue %>
        <% end %>
        </tr>
    </div>

    <!-- Used only to exchange process -->
    <div class="field">
      <tr>
        <% if @mov_type.to_s == 'exch' %>
          <td><%= form.label "Source #{:coinbag}" %></td>
          <td><%= form.collection_select :coinbag, Coinbag.where(user_id: @usr.to_s), :id, :coinbag %><div id="CTR_coinbag" class="CTR_form"><%= @action == 'NEW' && '*' || '' %></div></td>
        <% end %>
      </tr>
    </div>

    <!-- Used only to exchange process -->
    <div class="field">
      <tr>
        <% if @mov_type.to_s == 'exch' %>
          <td><%= form.label "Destination #{:coinbag}" %></td>
          <td><%= form.collection_select :coinbag_dest, Coinbag.where(user_id: @usr.to_s), :id, :coinbag, :selected => TrStatement.where(transaction_link: tr_statement.transaction_link, exch_destin: 'Received').map(&:coinbag)*",".to_s %>
            <div id="CTR_coinbag_dest" class="CTR_form"><%= @action == 'NEW' && '*' || '' %></div></td>
        <% end %>
      </tr>
    </div>

    <div class="field">
      <tr>
        <td><%= form.label :from %></td>
        <% if @mov_type.to_s == 'tr' %>
          <% if @action == 'NEW' %>
            <td><%= form.collection_select :from, @users, :id, :nickname, :selected => User.where(id: @usr.to_s).map(&:id)*",".to_s, :value => User.where(id: @usr.to_s).map(&:id)*",".to_s %></td>
          <% else %>
            <td><%= form.collection_select :from, @users, :id, :nickname %></td>
          <% end %>
        <% elsif @mov_type.to_s == 'exch' %>
          <td><%= form.collection_select :from, @users, :id, :nickname, :selected => User.where(id: @usr.to_s).map(&:id)*",".to_s, :value => User.where(id: @usr.to_s).map(&:id)*",".to_s %></td>
        <% end %>
      </tr>
    </div>

    <!-- Used only to transaction process source coinbag-->
    <div class="field">
      <tr id = "field_coinbag_from">
        <% if @mov_type.to_s == 'tr' %>
          <td><%= form.label :coinbag %></td>
          <td><%= form.grouped_collection_select :coinbag, User.order(:nickname),
            :coinbag, :nickname, :id, :coinbag, include_blank: true %>
        <% end %>
      </tr>
    </div>

    <div class="field">
      <tr>
        <td><%= form.label :to %></td>
        <% if @mov_type.to_s == 'tr' %>
          <% if @action == 'NEW' %>
            <td><%= form.collection_select :to, @users, :id, :nickname, selected: User.where(id: @usr.to_s).map(&:id)*",".to_s, value: User.where(id: @usr.to_s).map(&:id)*",".to_s, include_blank: true %></td>
          <% else %>
            <td><%= form.collection_select :to, @users, :id, :nickname %></td>
          <% end %>
        <% elsif @mov_type.to_s == 'exch' %>
          <td><%= form.collection_select :to, @users, :id, :nickname, :selected => User.where(id: @usr.to_s).map(&:id)*",".to_s, :value => User.where(id: @usr.to_s).map(&:id)*",".to_s %></td>
        <% end %>
      </tr>
    </div>

    <!-- Used only to destination coinbag member transaction -->
    <div class="field">
      <tr id = "field_coinbag_to">
        <% if @mov_type.to_s == 'tr' %>
          <td><%= form.label "coinbag" %></td>
          <td><%= form.grouped_collection_select :coinbag_dest, User.order(:nickname),
            :coinbag, :nickname, :id, :coinbag, include_blank: true %>
            <div id="CTR_coinbag_dest" class="CTR_form"><%= @action == 'NEW' && '*' || '' %></div></td>
        <% end %>
      </tr>
    </div>

    <div class="field_currency">
      <tr>
        <% if @mov_type.to_s == 'exch' %>
          <td><%= form.label "Source #{:currency}" %></td>
        <% else %>
          <td><%= form.label :currency %></td>
        <% end %>
        <% if @mov_type.to_s != 'exch' %>
          <td><%= form.collection_select :currency, @currency, :id, :currency, include_blank: true %><div id="CTR_currency" class="CTR_form"><%= @action == 'NEW' && '*' || '' %></div></td>
        <% elsif @mov_type.to_s == 'exch' %>
          <td>
            <table>
              <tr>
                <td><%= form.collection_select :currency, @currency, :id, :currency, include_blank: true %></td>
                <td><%= form.label :amount %></td>
                <td><%= form.text_field :amount %><div id="CTR_currency" class="CTR_form"><%= @action == 'NEW' && '*' || '' %></div><div id="CTR_amount" class="CTR_form"><%= @action == 'NEW' && '*' || '' %></div></td>
              </tr>
            </table>
          </td>
        <% end %>
      </tr>
    </div>

    <!-- Used only to exchange process -->
    <% if @mov_type.to_s == 'exch' %>
      <div class="field_currency">
        <tr>
          <td><%= form.label "Destination #{:currency}" %></td>
          <td>
            <table>
              <tr>
                <td><%= form.collection_select :currency_dest, @currency, :id, :currency, include_blank: true, :selected => TrStatement.where(transaction_link: tr_statement.transaction_link, exch_destin: 'Received').map(&:currency)*",".to_s %></td>
                <td><%= form.label :amount %></td>
                <td><%= form.text_field :amount_dest, :value => TrStatement.where(transaction_link: tr_statement.transaction_link, exch_destin: 'Received').map(&:amount)*"," %><div id="CTR_currency_dest" class="CTR_form"><%= @action == 'NEW' && '*' || '' %></div>
                  <div id="CTR_amount_dest" class="CTR_form"><%= @action == 'NEW' && '*' || '' %></div></td>
              </tr>
            </table>
          </td>
        </tr>
      </div>
    <% end %>

    <% if @mov_type.to_s != 'exch' %>
      <div class="field_float">
        <tr>
          <td><%= form.label :amount %></td>
          <td><%= form.text_field :amount %><div id="CTR_amount" class="CTR_form"><%= @action == 'NEW' && '*' || '' %></div></td>
        </tr>
      </div>
    <% end %>

    <div class="field_float">
      <tr>
        <td><%= form.label :fee %></td>
        <td><%= form.text_field :fee %><div id="CTR_fee" class="CTR_form"><%= @action == 'NEW' && '*' || '' %></div></td>
      </tr>
    </div>

    <div class="field">
      <tr>
        <td><%= form.label :hash %></td>
        <td><%= form.text_field :hash %></td>
      </tr>
    </div>

    <div class="field">
      <tr>
        <td><%= form.label "To #{:celebrate}" %></td>
        <td><%= form.text_field :celebrate %></td>
      </tr>
    </div>

    <% if @mov_type.to_s == 'exch' %>
      <div class="field">
        <tr>
          <% if @action == 'EDIT' %>
            <td><%= form.hidden_field :transaction_link %></td>
          <% else %>
            <td><%= form.hidden_field :transaction_link, :value => User.where(id: @usr.to_s).map(&:id)*",".to_s + Time.new.to_s.gsub!(/\s/,'') %></td>
          <% end %>
        </tr>
      </div>
    <% end %>

    <% if @mov_type.to_s == 'exch' %>
      <div class="field">
        <tr>
          <td><%= form.hidden_field :exch_destin, :value => "Sent" %></td>
        </tr>
      </div>
    <% end %>

    <div class="actions">
      <tr>
        <td><%= form.submit 'Submit', name: 'send', id: 'send', class: "btn btn-lg btn-primary", data: { disable_with: "Please wait.." } %></td>
        <!-- <td><%= link_to 'Show', @tr_statement, class: "btn btn-lg btn-primary" %></td> -->
        <td><%= link_to 'Back', tr_statements_path, class: "btn btn-lg btn-primary" %></td>
      </tr>
    </div>
    </table>
  <% end %>
