<p id="notice"><%= notice %></p>

<h1>Treasury Statements</h1>

<br>
<h3>New transaction:</h3>
<table class = "links">
  <tr>
    <td><%= link_to 'Transaction', new_tr_statement_path(@tr_statement, :type => "tr"), id: "new_tr", class: "btn btn-lg btn-primary" %></td>
    <td><%= link_to 'Exchange', new_tr_statement_path(@tr_statement, :type => "exch"), id: "new_exch", class: "btn btn-lg btn-primary" %></td>
    <div id="type_parameter"></div>
  </tr>
</table>
<br>
<br>
<br>

<table border="1" id="show">
  <thead>
    <tr>
      <!--<th>Uniqueid</th>-->
      <th>Type</th>
      <th>Date</th>
      <th>Time</th>
      <th>Time zone</th>
      <th>Reason</th>
      <th>Classification</th>
      <th>Coinbag</th>
      <th>From</th>
      <th>To</th>
      <th>Currency</th>
      <th>Amount</th>
      <th>Celebrate</th>
      <th colspan="0"></th>
    </tr>
  </thead>

  <tbody>
    <% @tr_statements.each do |tr_statement| %>
      <tr>
        <td><%= tr_statement.mov_type %></td>
        <td><%= tr_statement.date_time.strftime("%d-%m-%Y") %></td>
        <td><%= tr_statement.date_time.strftime("%H:%M") %></td>
        <td><%= tr_statement.timezone %></td>
        <td><%= tr_statement.reason %></td>
        <% begin %>
          <td><%= Classification.where(id: tr_statement.classification).map(&:classification)*"," %></td>
        <% rescue %>
        <% end %>
        <% begin %>
          <td><%= Coinbag.where(id: tr_statement.coinbag).map(&:coinbag)*"," %></td>
        <% rescue %>
        <% end %>
        <% begin %>
          <td><%= User.where(id: tr_statement.from).map(&:nickname)*"," %></td>
        <% rescue %>
        <% end %>
        <% begin %>
          <td><%= User.where(id: tr_statement.to).map(&:nickname)*"," %></td>
        <% rescue %>
        <% end %>
        <% begin %>
          <td><%= Currency.where(id: tr_statement.currency).map(&:currency)*"," %></td>
        <% rescue %>
        <% end %>
        <td><%= tr_statement.amount %></td>
        <td><%= tr_statement.celebrate %></td>
        <% if tr_statement.exch_destin != 'Received' %>
          <td><%= link_to 'Show', tr_statement %></td>
        <% else %>
          <td>---</td>
        <% end %>
        <% if tr_statement.from == nil %>
          <td><%= link_to 'Edit', edit_tr_statement_path(tr_statement, :type => tr_statement.mov_type, :usr => '') %></td>
        <% else %>
          <% if tr_statement.mov_type == 'tr' && tr_statement.created_by == session[:user_id] %>
            <td><%= link_to 'Edit', edit_tr_statement_path(tr_statement, :type => tr_statement.mov_type, :usr => User.where(id: tr_statement.to).map(&:id)*",") %></td>
          <% elsif tr_statement.exch_destin != 'Received' && tr_statement.created_by == session[:user_id] %>
            <td><%= link_to 'Edit', edit_tr_statement_path(tr_statement, :type => tr_statement.mov_type, :usr => User.where(id: tr_statement.from).map(&:id)*",") %></td>
          <% else %>
            <td>---</td>
          <% end %>
        <% end %>
        <% if tr_statement.exch_destin != 'Received' && tr_statement.created_by == session[:user_id] %>
          <td><%= link_to 'Destroy', tr_statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td>---</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
