<p id="notice"><%= notice %></p>

<p>
  <strong>Date and Time:</strong>
  <%= @tr_statement.date_time %>
</p>

<p>
  <strong>Time zone:</strong>
  <%= @tr_statement.timezone %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @tr_statement.reason %>
</p>

<p>
  <strong>Classification:</strong>
  <% begin %>
    <%= Classification.where(id: @tr_statement.classification.to_s).map(&:classification)*"," %>
  <% rescue Exception => e %>
  <% end %>
</p>

<p>
  <strong>Coinbag:</strong>
  <%= Coinbag.where(id: @tr_statement.coinbag).map(&:coinbag)*"," %>
</p>

<p>
  <strong>From:</strong>
  <% begin %>
    <%= User.where(id: @tr_statement.from).map(&:nickname)*"," %>
  <% rescue%>
  <% end %>
</p>

<p>
  <strong>To:</strong>
  <% begin %>
    <%= User.where(id: @tr_statement.to).map(&:nickname)*"," %>
  <% rescue%>
  <% end %>
</p>

<p>
  <strong>Currency:</strong>
  <%= Currency.where(id: @tr_statement.currency).map(&:currency)*"," %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @tr_statement.amount %>
</p>

<p>
  <strong>Celebrate:</strong>
  <%= @tr_statement.celebrate %>
</p>

<p>
  <strong>Create at:</strong>
  <%= @tr_statement.created_at %>
</p>
<% if @tr_statement.from == nil %>
  <td><%= link_to 'Edit', edit_tr_statement_path(@tr_statement, :type => @tr_statement.mov_type, :usr => ''), class: "btn btn-lg btn-primary" %></td> |
<% else %>
  <% if @tr_statement.mov_type == 'rec' %>
    <td><%= link_to 'Edit', edit_tr_statement_path(@tr_statement, :type => @tr_statement.mov_type, :usr => User.where(id: @tr_statement.to).map(&:id)*","), class: "btn btn-lg btn-primary" %></td> |
  <% else %>
    <td><%= link_to 'Edit', edit_tr_statement_path(@tr_statement, :type => @tr_statement.mov_type, :usr => User.where(id: @tr_statement.from).map(&:id)*","), class: "btn btn-lg btn-primary" %></td> |
  <% end %>
<% end %>
<%= link_to 'Back', tr_statements_path, class: "btn btn-lg btn-primary" %>
