<body onload="  " id='treasury_reports' class='treasury_reports_body' data-controller="<%= controller.controller_name %>">
  <% provide(:title, "Treasury Reports") %>
  <h1>Treasury reports</h1>

  <div id="Reports">
    <table border="1" class="Balance" id="BalanceTable">
    <%= form_for(:treasuries, url: treasuries_path) do |form| %>
      <thead class="BalanceHeader">
        <tr class="impar">
          <th></th>
          <% @header.each do |header| %>
            <th id="tableheader" align="center"><%= header[0][0][1] %></th>
          <% end %>
        </tr>
      </thead>

      <tbody class="BalanceHeader" id="bodyBalance">
        <% i = 0 %>
        <h3>Treasury balance:</h3>
          <% @rows.each do |users| %>
          <% if users[0][1][1] != '' %>
            <% if i % 2 == 0 %>
              <% tdclass = 0 %>
            <% else %>
              <% tdclass = 1 %>
            <% end %>

          <tr class="th_<%= "#{tdclass}" %>" id="BalanceLines">
            <% @username = User.where(id: users[0][1][1]).map{|p| "#{p.givenname} #{p.surname}"} %>
            <td id="MemberNames"><%= @username[0] %></td>
              <% @header.each do |currency| %>
                <% flag= 0 %>
                <% @treasury.each do |values| %>
                  <% if values[0][1][1] == users[0][1][1] and values[0][0][1] == currency[0][0][1] %>
                    <td align="right"><%= values[1].round(2) %></td>
                    <% flag = 1 %>
                  <% end %>
                <% end %>
                <% if flag == 0 %>
                  <td></td>
                <% end %>
              <% end %>
            <% i += 1 %>
          <% end %>
          </tr>
          <% end %>

        </tbody>

        <tfoot>
          <tr class="impar">
            <th>Total</th>
            <% i=0 %>
            <% @header.each do |tot| %>
              <th id="totalvalues" align="right"><%=  @totals[1][i].round(2).to_s %></th>
              <% i+=1 %>
            <% end %>
          </tr>
          <tr class="par">
            <th>Rates</th>
            <% i=0 %>
            <% @header.each do |tot| %>
              <th id="totalvalues_rates" align="right"><%=  @totals[2][i].round(2).to_s %></th>
              <% i+=1 %>
            <% end %>

          </tr>

          <% i=0 %>
          <% usdTot = 0 %>
          <% eurTot = 0 %>

          <tr class="impar">
            <th>USD Total</th>
            <% @header.each do |tot| %>
              <th id="totalvalues" align="right"><%=  @totals[3][i].round(2).to_s %></th>
              <% usdTot += @totals[3][i].to_f %>
              <% i+=1 %>
            <% end %>

          </tr>
          <tr class="par">
            <th>EUR Total</th>
            <% i=0 %>
            <% euroRate = Currency.where(currency: 'EUR').map(&:exch_rate)*"," %>
            <% @header.each do |tot| %>
              <% euros = (1 / euroRate.to_f) * @totals[3][i].to_f %>
              <th id="totalvalues" align="right"><%=  euros.round(2).to_s %></th>
              <% eurTot += euros.round(2) %>
              <% i+=1 %>
            <% end %>

          </tr>
        </tfoot>
      <br>

      <br>
      <td></td>
    </table>
    <br>
    <table border=1>
      <tr>
        <th>EUR:.</th>
        <td><%= number_with_delimiter(eurTot.round(2), :delimiter => ',') %></td>
      </tr>
      <tr>
        <th>USD:.</th>
        <td><%= number_with_delimiter(usdTot.round(2), :delimiter => ',') %></td>
      </tr>
    </table>
    <br>

  <% end %>


  <br>
  <br>
  <br>
  <br>

<!-- TOTALS BY COINBAGS -->

<!-- Filter options -->
  <%= form_for :transaction do |f| %>
  <table border="0" class="filter" id="filter_id">
    <tr>

      <td>Filter coinbags and category by: <%= f.collection_select :member, @members, :id, :nickname, {:selected => @default_member} %></td>
      <td><%= f.submit 'Update', name: 'Update_table', id: 'Update_table', class: "btn-primary", data: { disable_with: "Please wait.." } %></td>
      <% end %>
    </tr>
  </table>

  <table border="1" class="Balance" id="BalanceTable">
  <%= form_for(:treasuries, url: treasuries_path) do |form| %>
    <thead class="BalanceHeader">
      <tr class="impar">
        <th></th>
        <% @TotalsCoin.each do |header| %>
          <th id="tableheader" align="center"><%= header[1] %></th>
        <% end %>
      </tr>
    </thead>


    <br>
    <br>

      <% i=0 %>
      <tbody class="BalanceHeader" id="bodyBalance">
        <h3><%= User.where(id: @default_member).map(&:nickname)*"," %> Coinbags balance:</h3>
          <% @CoinbagsCoin.each do |coinbags| %>
          <% if i % 2 == 0 %>
            <% tdclass = 0 %>
          <% else %>
            <% tdclass = 1 %>
          <% end %>
          <tr class="th_<%= "#{tdclass}" %>" id="BalanceLines">
            <td id="Coinbags"><%= coinbags[1] %></td>
              <% @TotalsCoin.each do |headers| %>
                <% flag= 0 %>
                <% @ValuesCoin.each do |values| %>
                  <% if coinbags[0] + headers[0] == values[0][0] + values[0][1]  %>
                    <td align="right"><%= values[1].round(2) %></td>
                    <% flag = 1 %>
                  <% end %>
                <% end %>
                <% if flag == 0 %>
                  <td></td>
                <% end %>
              <% end %>
            <% i += 1 %>
          <% end %>
          </tr>


      </tbody>


      <tfoot>
        <tr class="impar">
          <th>Total</th>
          <% i=0 %>
          <% @TotalsCoin.each do |curnames| %>
            <% @SumValues.each do |totals| %>
              <% if totals[0] == curnames[0] %>
                <th id="totalvalues" align="right"><%= totals[1].round(2) %></th>
                <% i+=1 %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <tr class="par">
          <th>Rates</th>
          <% i=0 %>
          <% @TotalsCoin.each do |curnames| %>
            <th id="totalvalues_rates" align="right"><%= (Currency.where(id: curnames[0]).map(&:exch_rate)*",").to_f.round(4)  %></th>
            <% i+=1 %>
          <% end %>
        </tr>


        <% i=0 %>

        <% usdTot = 0 %>
        <% eurTot = 0 %>
        <tr class="impar">
          <th>USD Total</th>
          <% i=0 %>
          <% @TotalsCoin.each do |curnames| %>
            <% @SumValues.each do |totals| %>
              <% if curnames[0] == totals[0] %>
                <th id="totalvalues" align="right"><%= (totals[1] * (Currency.where(id: curnames[0]).map(&:exch_rate)*",").to_f).round(2) %></th>
                <% usdTot += (totals[1] * (Currency.where(id: curnames[0]).map(&:exch_rate)*",").to_f) %>
              <% end %>
            <% end %>
          <% end %>

        </tr>

        <% euroRate = Currency.where(currency: 'EUR').map(&:exch_rate)*"," %>

        <tr class="par">
          <th>EUR Total</th>
          <% i=0 %>
          <% @TotalsCoin.each do |curnames| %>
            <% @SumValues.each do |totals| %>
              <% if curnames[0] == totals[0] %>
                <% euros = (1 / euroRate.to_f) * (totals[1] * (Currency.where(id: curnames[0]).map(&:exch_rate)*",").to_f) %>
                <th id="totalvalues" align="right"><%= euros.round(2) %></th>
                <% eurTot += euros.round(2) %>
                <% end %>
            <% end %>
          <% end %>
        </tr>
      </tfoot>
      <br>

      <br>
      <td></td>
    </table>
    <br>
    <table border=1>
      <tr>
        <th>EUR:.</th>
        <td><%= number_with_delimiter(eurTot.round(2), :delimiter => ',')  %></td>
      </tr>
      <tr>
        <th>USD:.</th>
        <td><%= number_with_delimiter(usdTot.round(2), :delimiter => ',') %></td>
      </tr>
    </table>
    <% end %>

    <br>


  <!-- TOTALS BY CATEGORY -->
    <%= form_for(:treasuries, url: treasuries_path) do |form| %>
    <table border="1" class="Balance" id="BalanceTable">
      <thead class="BalanceHeader">
        <tr class="impar">
          <th></th>
          <% @C_TotalsCoin.each do |header| %>
            <th id="tableheader" align="center"><%= header[1] %></th>
          <% end %>
        </tr>
      </thead>


      <br>
      <br>

      <% i=0 %>
      <tbody class="BalanceHeader" id="bodyBalance">
        <h3><%= User.where(id: @default_member).map(&:nickname)*"," %> categories balance:</h3>
          <% @CategoryCoin.each do |category| %>
          <% if i % 2 == 0 %>
            <% tdclass = 0 %>
          <% else %>
            <% tdclass = 1 %>
          <% end %>
          <tr class="th_<%= "#{tdclass}" %>" id="BalanceLines">
            <td id="Coinbags"><%= category[1] %></td>
              <% @C_TotalsCoin.each do |headers| %>
                <% flag= 0 %>
                <% @C_ValuesCoin.each do |values| %>
                  <% if category[0] + headers[0] == values[0][0] + values[0][1]  %>
                    <td align="right"><%= values[1].round(2) %></td>
                    <% flag = 1 %>
                  <% end %>
                <% end %>
                <% if flag == 0 %>
                  <td></td>
                <% end %>
              <% end %>
            <% i += 1 %>
          <% end %>
          </tr>


      </tbody>


      <tfoot>
        <tr class="impar">
          <th>Total</th>
          <% i=0 %>
          <% @C_TotalsCoin.each do |curnames| %>
            <% @C_SumValues.each do |totals| %>
              <% if totals[0] == curnames[0] %>
                <th id="totalvalues" align="right"><%= totals[1].round(2) %></th>
                <% i+=1 %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <tr class="par">
          <th>Rates</th>
          <% i=0 %>
          <% @C_TotalsCoin.each do |curnames| %>
            <th id="totalvalues_rates" align="right"><%= (Currency.where(id: curnames[0]).map(&:exch_rate)*",").to_f.round(4)  %></th>
            <% i+=1 %>
          <% end %>
        </tr>


        <% i=0 %>

        <% usdTot = 0 %>
        <% eurTot = 0 %>
        <tr class="impar">
          <th>USD Total</th>
          <% i=0 %>
          <% @C_TotalsCoin.each do |curnames| %>
            <% @C_SumValues.each do |totals| %>
              <% if curnames[0] == totals[0] %>
                <th id="totalvalues" align="right"><%= (totals[1] * (Currency.where(id: curnames[0]).map(&:exch_rate)*",").to_f).round(2) %></th>
                <% usdTot += (totals[1] * (Currency.where(id: curnames[0]).map(&:exch_rate)*",").to_f) %>
              <% end %>
            <% end %>
          <% end %>

        </tr>

        <% euroRate = Currency.where(currency: 'EUR').map(&:exch_rate)*"," %>

        <tr class="par">
          <th>EUR Total</th>
          <% i=0 %>
          <% @C_TotalsCoin.each do |curnames| %>
            <% @C_SumValues.each do |totals| %>
              <% if curnames[0] == totals[0] %>
                <% euros = (1 / euroRate.to_f) * (totals[1] * (Currency.where(id: curnames[0]).map(&:exch_rate)*",").to_f) %>
                <th id="totalvalues" align="right"><%= euros.round(2) %></th>
                <% eurTot += euros.round(2) %>
                <% end %>
            <% end %>
          <% end %>
        </tr>
      </tfoot>
      <br>

      <br>
      <td></td>
    </table>
    <br>
    <table border=1>
      <tr>
        <th>EUR:.</th>
        <td><%= number_with_delimiter(eurTot.round(2), :delimiter => ',')  %></td>
      </tr>
      <tr>
        <th>USD:.</th>
        <td><%= number_with_delimiter(usdTot.round(2), :delimiter => ',') %></td>
      </tr>
    </table>







    <table>
      <br>
      <br>
      <tr>
        <td><%= form.submit 'Update Currency Rates', name: 'UpdateRates', id: 'UpdateRates', class: "btn btn-lg btn-primary", data: { disable_with: "Please wait.." } %></td>
      </tr>
    </table>
  <% end %>
  </div>
</body>
