<%= form_with(model: coinbag, local: true) do |form| %>
  <% if coinbag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coinbag.errors.count, "error") %> prohibited this coinbag from being saved:</h2>

      <ul>
      <% coinbag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :coinbag %>
    <%= form.text_field :coinbag %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
