<%= form_with(model: @coinbag, local: true) do |form| %>
  <% if @coinbag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coinbag.errors.count, "error") %> prohibited this coinbag from being saved:</h2>

      <ul>
      <% @coinbag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :coinbag %>
    <%= form.text_field :coinbag, class: 'form-control' %>
  </div>

  <div class="field">
    <tr>
      <td><%= form.label "User" %></td>
      <td><%= form.collection_select :user_id, User.all, :id, :username %>
      <div id="CTR_coinbag_dest" class="CTR_form"><%= @action == 'NEW' && '*' || '' %></div></td>
    </tr>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
