<p id="notice"><%= notice %></p>

<h1>Coinbags</h1>
<body class='coinbags_body' id="Coinbagsbody" data-controller="<%= controller.controller_name %>">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table id="coinbags">
        <thead>
          <tr>
            <th>Coinbag</th>
            <th>User coinbag</th>
            <th style="width:5px;"></th>
            <th style="width:5px;"></th>
            <th style="width:5px;"></th>
          </tr>
        </thead>

        <tbody>
          <% @coinbags.each do |coinbag| %>
            <tr>
              <td><%= coinbag.coinbag %></td>
              <td><%= User.where(id: coinbag.user_id).map(&:nickname)*",".to_s %></td>
              <td><%= link_to 'Show', coinbag %></td>
              <td><%= link_to 'Edit', edit_coinbag_path(coinbag) %></td>
              <td><%= link_to 'Destroy', coinbag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>

      <%= link_to 'New Coinbag', new_coinbag_path, id: "create_coinbag", class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</body>
