<header class="navbar navbar-fixed-top navbar-inverse">
  <meta name="viewport" content="width=device-width, initial-scale=auto">
  <div class="container">
    <%= link_to "Veda Treasury App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if session[:user_id].to_s == '' %>
          <li><%= link_to "Home", root_path %></li>
        <% else %>
          <li><%= link_to "Transactions", root_path %></li>
        <% end %>
        <% if session[:user_id].to_s != '' %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Maintenance <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if session[:admin].to_s == "[true]" and session[:user_id] != '' %>
                <li><%= link_to "Users", users_path %></li>
                <li><%= link_to "Users group", usergroups_path %></li>
                <li><%= link_to "App administration", administrators_path %></li>
                <li><%= link_to "Global settings", global_settings_path %></li>
                <li class="divider"></li>
              <% end %>
              <li><%= link_to "Coinbags", coinbags_path %></li>
              <li><%= link_to "Currencies", currencies_path %></li>
              <li><%= link_to "Categories", classifications_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Approve transactions", "tr_statements/approvals" %></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", users_path + '/' + session[:user_id].to_s %></li>
              <li><%= link_to "User settings", settings_path %></li>

              <% if session[:user_id] == '6KauQZJDx2Izdg' %>
                <li><%= link_to "Miners", miners_path %></li>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to "Balances", treasuries_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Help", help_path %></li>
              <li><%= link_to "About", about_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
